{% comment %}Drop the div .alert classes to revert to the default banner styling.{% endcomment -%}
<div class="banner">
  <p class="banner__text">
    {% comment %} TEXT GOES HERE {% endcomment %}

    {% comment %}

  	Dart 2.4.0 is live! For more information, see the
    <a class="external" href="https://github.com/dart-lang/sdk/blob/master/CHANGELOG.md#240---2019-06-27">change log</a>.

	{% endcomment %}
	
	Dart 2.4.0 版本启动！ 更多信息参见
   	<a class="external" href="https://github.com/dart-lang/sdk/blob/master/CHANGELOG.md#240---2019-06-27">更新日志</a>。
	
  </p>
</div>
