{% comment %}Drop the div .alert classes to revert to the default banner styling.{% endcomment -%}
<div class="banner alert alert-info">
  <p class="banner__text">
    {% comment %} TEXT GOES HERE {% endcomment %}
    {% comment %}
    Dart 2.2 is now available,
    with faster native code and support for set literals. 
    <a href="https://medium.com/dartlang/announcing-dart-2-2-faster-native-code-support-for-set-literals-7e2ab19cc86d">Learn more.</a>
    {% endcomment %}
    Dart 2.2 现发布，更高的本地代码执行及 Set 字面量的支持。
    <a href="https://medium.com/dartlang/announcing-dart-2-2-faster-native-code-support-for-set-literals-7e2ab19cc86d">了解更多。</a>
  </p>
</div>
